<div style="display: flex; flex-direction: column; gap: 1em">
    <a routerLink="/" routerLinkActive="active" mat-raised-button (click)="onLinkClicked()" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/users" routerLinkActive="active" mat-raised-button (click)="onLinkClicked()" [routerLinkActiveOptions]="{exact:true}">Users</a>
    <a routerLink="/servers" routerLinkActive="active" mat-raised-button (click)="onLinkClicked()" [routerLinkActiveOptions]="{exact:true}">Servers</a>
    <a routerLink="/worlds" routerLinkActive="active" mat-raised-button (click)="onLinkClicked()" [routerLinkActiveOptions]="{exact:true}">Worlds</a>
</div>
