
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex-grow: 9999;
}

.router-output {
    margin: 50px;
}

.clickable {
    cursor: pointer;
}