
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex-grow: 9999;
}

.router-output {
    margin: 50px;
    width: 80vw;
}

.clickable {
    cursor: pointer;
}

.flex {
    display: flex;
}

.util-button-row{
    @extend .flex;
    gap: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.validation {
    color: red;
}